*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:#D0D4D5;
    position: relative;
}
#nav{
    height:93px;
    padding: 0 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 37px;
    margin-right:167px ;
}
#nav-part1{
    display:flex;
    align-items: center;
    justify-content: center;
}
#nav-part1 h4{
    margin-right: 90px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#nav-part2 i{
    margin-right: 30px;
    font-size: 28px;
    font-weight: 500;
}
#content{
    width: 100%;
    /* background-color: red; */
    height: calc(100% - 93px);
    /* position: relative; */
    display: flex;
}
#left{
    width: 37%;
    height: 100%;
    padding: 70px 100px;
    /* background-color: #0000ff; */
}
#left h5{
    font-size: 15px;
    color: #535353;
    font-weight: 500;
    margin-bottom:17px ;
    /* padding: 100px 0; */
}
#left h1{
    font-size: 48px;
    text-transform: uppercase;
    line-height: 46px;
    margin-bottom:43px ;
    font-weight: 700;

}
#left p{
    font-size: 18px;
    margin-bottom:45px ;
    width: 73%;
}
#left button{
    background-color: #000;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 50px;
    border-top-left-radius: 0;
}
#right{
    height: 100%;
    width: 63%;
    /* background: red; */
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
}
#right::-webkit-scrollbar{
    /* -ms-overflow-style: none;  Internet Explorer 10+ */
    scrollbar-width: none;
    display: none;
}
.elem{
    height: 430px;
    width: 340px;
    margin-top: 94px;
    background-color:rgb(250, 246, 246);
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.3);
    border-radius: 10px;
    display: inline-block;
    margin-right: 15px;
}
.elem img{
    height: 50%;
    width: 100%;
    top: 23%;
    object-fit: cover;
    position: absolute ;
     
}
.elem h4{
    position:  absolute;
    bottom: 0;
    right:  0; 
    background-color: #D0D4D5;
    padding: 10px 38px;
    /* border-radius: 6px; */
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.elem h5{
    position:  absolute;
    font-size: 12px;
    bottom: 8.5%;
    right:  0; 
    background-color: #000000;
    color: #fff;
    padding: 10px 38px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}